@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap');
body{
  margin: 0px;
}
h1{
font-family: 'Lobster', cursive;
font-size: 6rem;
color: black;
}
h1{
  margin-left: 45vw;
}
#menu {
     position: relative;
     width: 900px;
     padding: 20px auto;
}

#menu ul {
     position: absolute;
     margin-left: 70%;
    width: 100%;
     list-style: none;
}

#menu ul li {
     float: left;
     padding: 0 0 0 60px;
}
#menu ul li:hover {
     color: #F5342C;
}
li{
  font-family: 'Lobster', cursive;
  font-size: 3rem;
  color: white;
}
.header{
      background-color: #44BDE2;
}
.head{
max-width: 45%;
padding: 0vw;
}
.head img{
  margin: 0vw;
  padding: 0vw;
}
p{
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 20px;
padding-top: 5vw;
padding-left: 9vw;
padding-right: 30vw;
padding-bottom: 5vw;
  color: black;
}
h2{
  font-family: 'Lobster', cursive;
  font-size: 6rem;
  color: white;
  padding-left: 9vw;
}
#hintergrundblock{
  background-color: #44BDE2;
}

#hintergrundblock img{
  width: 100%;
}
#hintergrundblock p{
  color: white;
    margin-top: 0;
    padding-top: 40px;
}
h3{
  font-family: 'Lobster', cursive;
  font-size: 6rem;
  color: black;
  padding-left: 9vw;
}
.erster-abschnitt{
  display: grid;
  grid-gap: 3px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}
h4{
  grid-area: 1/2/2/3;
  font-family: 'Lobster', cursive;
  font-size: 6rem;
  color: black;
  padding-left: 2vw;
}
.erster-abschnitt p{
  grid-area: 1/2/2/3;
  font-size: 20px;
  padding: 13vw 25vw 5vw 2vw;
}
.erster-abschnitt img{
  grid-area: 1/1/2/2;
  max-width: 60%;
  padding-left: 6vw;
  transform: rotate(-5deg) scaleX(1);
}
.zweiter-abschnitt{
  display: grid;
  grid-gap: 3px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}
h5{
  grid-area: 3/2/2/1;
  font-family: 'Lobster', cursive;
  font-size: 6rem;
  color: black;
  padding-left: 10vw;
}
.zweiter-abschnitt p{
  grid-area: 3/2/2/1;
  font-size: 20px;
  padding: 14vw 2vw 2vw 10vw;
}
.zweiter-abschnitt img{
  grid-area: 2/2/2/2;
  max-width: 60%;
  padding-right: 10vw;
  padding-top: 6vw;
}
.dritter-abschnitt{
  display: grid;
  grid-gap: 3px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}
h6{
  grid-area: 1/2/2/3;
  font-family: 'Lobster', cursive;
  font-size: 6rem;
  color: black;
  padding-left: 2vw;
  margin-top: 2vw;
}
.dritter-abschnitt p{
  grid-area: 1/2/2/3;
  font-size: 20px;
  padding: 8vw 25vw 5vw 2vw;
}
.dritter-abschnitt img{
  grid-area: 1/1/2/2;
  max-width: 60%;
  padding-left: 10vw;
}
.vierter-abschnitt{
  padding: 2vw 2vw;
  display: grid;
  grid-gap: 3px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}
h7{
  grid-area: 3/2/2/1;
  font-family: 'Lobster', cursive;
  font-size: 6rem;
  color: black;
  padding-left: 10vw;
  padding-top: 5vw;
}
.vierter-abschnitt p{
  grid-area: 3/2/2/1;
  font-size: 20px;
  padding: 11vw 2vw 2vw 10vw;
}
.vierter-abschnitt img{
  grid-area: 2/2/2/2;
  max-width: 60%;
  padding-right: 10vw;
}
.fünfter-abschnitt{
  display: grid;
  grid-gap: 3px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  padding-bottom: 20vw;
}
h8{
  grid-area: 1/2/2/3;
  font-family: 'Lobster', cursive;
  font-size: 6rem;
  color: black;
  padding-left: 2vw;
  padding-top: 5vw;
}
.fünfter-abschnitt p{
  grid-area: 1/2/2/3;
  font-size: 20px;
  padding: 12vw 25vw 5vw 2vw;
}
.fünfter-abschnitt img{
  grid-area: 1/1/2/2;
  max-width: 60%;
  padding-left: 6vw;
}
#footer{
  background-color: #44BDE2;
}
#footer p{
  color: white;
  padding: 6vw;
  margin-bottom: 0px;
}
